@page "/devices"
@using Microsoft.Azure.Devices.Shared;
@inject IDeviceTwinService DeviceTwinService 

<h1>Your devices</h1> 

<div id="device-list">
    @if (Devices == null) 
    {
        <h2>Loading your devices </h2>
    }
    else 
    {
        <div class="row">
            @foreach (var device in Devices) 
            {
                <SingleDevice DeviceId="@device.ToString()"/> 
            }
        </div> 
    }

</div> 

@code {
    
    private IEnumerable<Twin> Devices {get; set;}
    
    protected override async Task OnInitializedAsync()
    {
        Devices = await DeviceTwinService.GetDevicesAsync(); 
        
    }


}