
<EditForm Model="exampleModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator /> 
    <ValidationSummary /> 

    <InputText id="name" @bind-Value="@exampleModel.Name" /> 

    <button type="submit">Submeit</button> 
</EditForm> 

@code {

    private ExampleModel exampleModel = new ExampleModel(); 

    private void HandleValidSubmit() 
    {
        Console.WriteLine("OnValidSubmit"); 
        Console.WriteLine(exampleModel.Name);
    }
}