@page "/singleDevice"
@page "/singleDevice/{DeviceId}"
@page "/singleDevice/int/{DeviceId:int}"
@using Microsoft.Azure.Devices.Shared;
@inject IDeviceTwinService DeviceTwinService 


<p>Device Properties Desired: @DeviceTwin.Properties.Desired.ToString()</p> 
<p>Device Properties Reported: @DeviceTwin.Properties.Reported.ToString()</p> 

@code {


    [Parameter]
    public Twin DeviceTwin {get; set;}
        
}